{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} My profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#userprofile").click(function(){
      $("#img").animate({
        left: '250px',
        height: '200px',
        width: '200px'
      });
    });
  });
  </script>
<style>
body{

}
/* User Cards */
.user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 20px;

}

.user-box img {
    width: 140%;
    border-radius: 20%;
	padding: 3px;
	background: #fff;


    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.profile-card-2 .card {
	position:relative;
}

.profile-card-2 .card .card-body {
	z-index:1;
}

/* Rounded border */
hr.rounded {
  border-top: 10px solid #bbb;
  border-radius: 5px;
}



.profile-card-2 .card::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 112px;
    background-color: #fff;
}


.profile-card-2 .card.profile-warning::before {
	background-color: #fff;
}
.profile-card-2 .card.profile-success::before {
	background-color: #15ca20;
}
.profile-card-2 .card.profile-danger::before {
	background-color: #fd3550;
}
.profile-card-2 .card.profile-warning::before {
	background-color: #ff9700;
}
.profile-card-2 .user-box {
	margin-top: 30px;
}

.profile-card-3 .user-fullimage {
	position:relative;
}

.profile-card-3 .user-fullimage .details{
	position: absolute;
    bottom: 0;
    left: 0px;
	width:100%;
}

.profile-card-4 .user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.profile-card-4 .list-icon {
    display: table-cell;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: middle;
    color: #223035;
}

.profile-card-4 .list-details {
	display: table-cell;
	vertical-align: middle;
	font-weight: 600;
    color: #223035;
    font-size: 15px;
    line-height: 15px;
}

.profile-card-4 .list-details small{
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 400;
    color: #808080;
}

/*Nav Tabs & Pills */
.nav-tabs .nav-link {
    color: #223035;
	font-size: 12px;
    text-align: center;
	letter-spacing: 1px;
    font-weight: 600;
	margin: 2px;
    margin-bottom: 0;
	padding: 12px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}
.nav-tabs .nav-link:hover{
    border: 1px solid transparent;
}
.nav-tabs .nav-link i {
    margin-right: 2px;
	font-weight: 600;
}

.top-icon.nav-tabs .nav-link i{
	margin: 0px;
	font-weight: 500;
	display: block;
    font-size: 20px;
    padding: 5px 0;
}

.nav-tabs-primary.nav-tabs{
	border-bottom: 1px solid #008cff;
}

.nav-tabs-primary .nav-link.active, .nav-tabs-primary .nav-item.show>.nav-link {
    color: #008cff;
    background-color: #fff;
    border-color: #008cff #008cff #fff;
    border-top: 3px solid #008cff;
}

.nav-tabs-success.nav-tabs{
	border-bottom: 1px solid #15ca20;
}

.nav-tabs-success .nav-link.active, .nav-tabs-success .nav-item.show>.nav-link {
    color: #15ca20;
    background-color: #fff;
    border-color: #15ca20 #15ca20 #fff;
    border-top: 3px solid #15ca20;
}

.nav-tabs-info.nav-tabs{
	border-bottom: 1px solid #0dceec;
}

.nav-tabs-info .nav-link.active, .nav-tabs-info .nav-item.show>.nav-link {
    color: #0dceec;
    background-color: #fff;
    border-color: #0dceec #0dceec #fff;
    border-top: 3px solid #0dceec;
}

.nav-tabs-danger.nav-tabs{
	border-bottom: 1px solid #fd3550;
}

.nav-tabs-danger .nav-link.active, .nav-tabs-danger .nav-item.show>.nav-link {
    color: #fd3550;
    background-color: #fff;
    border-color: #fd3550 #fd3550 #fff;
    border-top: 3px solid #fd3550;
}

.nav-tabs-warning.nav-tabs{
	border-bottom: 1px solid #ff9700;
}

.nav-tabs-warning .nav-link.active, .nav-tabs-warning .nav-item.show>.nav-link {
    color: #ff9700;
    background-color: #fff;
    border-color: #ff9700 #ff9700 #fff;
    border-top: 3px solid #ff9700;
}

.nav-tabs-dark.nav-tabs{
	border-bottom: 1px solid #223035;
}

.nav-tabs-dark .nav-link.active, .nav-tabs-dark .nav-item.show>.nav-link {
    color: #223035;
    background-color: #fff;
    border-color: #223035 #223035 #fff;
    border-top: 3px solid #223035;
}

.nav-tabs-secondary.nav-tabs{
	border-bottom: 1px solid #75808a;
}
.nav-tabs-secondary .nav-link.active, .nav-tabs-secondary .nav-item.show>.nav-link {
    color: #75808a;
    background-color: #fff;
    border-color: #75808a #75808a #fff;
    border-top: 3px solid #75808a;
}

.tabs-vertical .nav-tabs .nav-link {
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2px;
    margin-right: -1px;
    padding: 12px 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #dee2e6;
}

.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 1px solid #dee2e6;
    border-right: 0;
    border-left: 1px solid #dee2e6;
}

.tabs-vertical-primary.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #008cff;
}

.tabs-vertical-primary.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-primary.tabs-vertical .nav-tabs .nav-link.active {
    color: #008cff;
    background-color: #fff;
    border-color: #008cff #008cff #fff;
    border-bottom: 1px solid #008cff;
    border-right: 0;
    border-left: 3px solid #008cff;
}

.tabs-vertical-success.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #15ca20;
}

.tabs-vertical-success.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-success.tabs-vertical .nav-tabs .nav-link.active {
    color: #15ca20;
    background-color: #fff;
    border-color: #15ca20 #15ca20 #fff;
    border-bottom: 1px solid #15ca20;
    border-right: 0;
    border-left: 3px solid #15ca20;
}

.tabs-vertical-info.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #0dceec;
}

.tabs-vertical-info.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-info.tabs-vertical .nav-tabs .nav-link.active {
    color: #0dceec;
    background-color: #fff;
    border-color: #0dceec #0dceec #fff;
    border-bottom: 1px solid #0dceec;
    border-right: 0;
    border-left: 3px solid #0dceec;
}

.tabs-vertical-danger.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #fd3550;
}

.tabs-vertical-danger.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-danger.tabs-vertical .nav-tabs .nav-link.active {
    color: #fd3550;
    background-color: #fff;
    border-color: #fd3550 #fd3550 #fff;
    border-bottom: 1px solid #fd3550;
    border-right: 0;
    border-left: 3px solid #fd3550;
}

.tabs-vertical-warning.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #ff9700;
}

.tabs-vertical-warning.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-warning.tabs-vertical .nav-tabs .nav-link.active {
    color: #ff9700;
    background-color: #fff;
    border-color: #ff9700 #ff9700 #fff;
    border-bottom: 1px solid #ff9700;
    border-right: 0;
    border-left: 3px solid #ff9700;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #223035;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-dark.tabs-vertical .nav-tabs .nav-link.active {
    color: #223035;
    background-color: #fff;
    border-color: #223035 #223035 #fff;
    border-bottom: 1px solid #223035;
    border-right: 0;
    border-left: 3px solid #223035;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #75808a;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-link.active {
    color: #75808a;
    background-color: #fff;
    border-color: #75808a #75808a #fff;
    border-bottom: 1px solid #75808a;
    border-right: 0;
    border-left: 3px solid #75808a;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
	letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
	margin: 3px;
    padding: 12px 20px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.nav-pills .nav-link:hover {
    background-color:#f4f5fa;
}

.nav-pills .nav-link i{
	margin-right:2px;
	font-weight: 600;
}

.top-icon.nav-pills .nav-link i{
	margin: 0px;
	font-weight: 500;
	display: block;
    font-size: 20px;
    padding: 5px 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 140, 255, 0.5);
}

.nav-pills-success .nav-link.active, .nav-pills-success .show>.nav-link {
    color: #fff;
    background-color: #15ca20;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(21, 202, 32, .5);
}

.nav-pills-info .nav-link.active, .nav-pills-info .show>.nav-link {
    color: #fff;
    background-color: #0dceec;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(13, 206, 236, 0.5);
}

.nav-pills-danger .nav-link.active, .nav-pills-danger .show>.nav-link{
    color: #fff;
    background-color: #fd3550;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(253, 53, 80, .5);
}

.nav-pills-warning .nav-link.active, .nav-pills-warning .show>.nav-link {
    color: #fff;
    background-color: #ff9700;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 151, 0, .5);
}

.nav-pills-dark .nav-link.active, .nav-pills-dark .show>.nav-link {
    color: #fff;
    background-color: #223035;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(34, 48, 53, .5);
}

.nav-pills-secondary .nav-link.active, .nav-pills-secondary .show>.nav-link {
    color: #fff;
    background-color: #75808a;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(117, 128, 138, .5);
}
.card .tab-content{
	padding: 1rem 0 0 0;
}

.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}

</style>

 {% for i in data %}


<div class="container">
<div class="row">
        <div class="col-lg-4">
           <div class="profile-card-4 z-depth-3">
            <div class="card">
              <div class="card-body text-center bg-info rounded-top">
               <div class="user-box" id="userprofile">
                <img src="{{request.user.managerp.profile_picture.url}}" alt="user avatar" id="img" >
              </div>
              <h1 class="mb-1 text-white">{{i.user}}</h1>
              <h3 class="text-light">{{i.designation}}</h3>
             </div>
              <div class="card-body">
                <ul class="list-group shadow-none">
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-phone-square" style="color:blue;"></i>
                  </div>
                  <div class="list-details">
                    <span>9910XXXXXX</span>
                    <small>Mobile Number</small>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-envelope" style="color:blue;"></i>
                  </div>
                  <div class="list-details">
                    <span>{{i.user.email}}</span>
                    <small>Email Address</small>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-address-card" style="color:blue;"></i>
                  </div>
                  <div class="list-details">
                    <span>Address</span>
                    <small>Address</small>
                  </div>
                </li>
                </ul>
                <div class="row text-center mt-4">
                  <div class="col p-2">
                   <h4 class="mb-1 line-height-5">154</h4>
                    <small class="mb-0 font-weight-bold">Post</small>
                   </div>
                    <div class="col p-2">
                      <h4 class="mb-1 line-height-5">2</h4>
                     <small class="mb-0 font-weight-bold">Message</small>
                    </div>
                    <div class="col p-2">
                     <h4 class="mb-1 line-height-5">9</h4>
                     <small class="mb-0 font-weight-bold">Project</small>
                    </div>

                 </div>

               </div>

               <div class="card-footer text-center">
                    <button class="btn btn-primary">Message</button>
                 <a href="javascript:void()" class="btn-social btn-facebook waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
                 <a href="javascript:void()" class="btn-social btn-google-plus waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
                 <a href="javascript:void()" class="list-inline-item btn-social btn-behance waves-effect waves-light"><i class="fa fa-behance"></i></a>
                 <a href="javascript:void()" class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a>
               </div>
             </div>
           </div>
        </div>
        <div class="col-lg-8">
           <div class="card z-depth-3">
            <div class="card-body">
            <ul class="nav nav-pills nav-pills-primary nav-justified">
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Messages</span></a>
                </li>
                <li class="nav-item">
<!--                     <a class="btn btn-primary w-100" href="{% url 'manager:updateprofile' %}" style='margin-top:15px;'><i class="far fa-edit"></i> Edit My Profile</a>-->
                    <a href="{% url 'manager:updateprofile' %}"  class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane active show" id="profile">
                    <h5 class="mb-3"><strong>User Profile</strong></h5>
        <div class="col-lg-12">
        <div class="card">
            <div class="card-body info-card social-about">
                <h2 style="color:red;"><strong>Personal Information</strong></h2>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <br>

                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-user-circle mr-2 " style="font-size:21px" > &nbsp;&nbsp;Username&nbsp;:</i>
                            <span  style="color:blue; " >{{i.user.username}}</span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="social-info">
                            <i class="fa fa-user" style="font-size:20px">&nbsp;&nbsp;Full Name&nbsp;:</i>
                            <span style="color:blue;">&nbsp; {{i.user.first_name}}&nbsp;{{i.user.last_name}}</span>
                        </div>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-users mr-2"  style="font-size:20px"> &nbsp;  Gender &nbsp; &nbsp;&nbsp; :</i>
                            <span style="color:blue;">{{i.gender}}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-gem" style="font-size:20px">&nbsp;&nbsp; Maritial status &nbsp;:</i>
                            <span style="color:blue;">&nbsp;{{i.maritial_status}}</span>
                        </div>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-mobile mr-2" style="font-size:20px" > &nbsp; &nbsp;Mobile No &nbsp;:</i>
                            <span style="color:blue;">8392832983</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-envelope mr-2" style="font-size:20px">&nbsp; &nbsp;E-mail ID &nbsp;:</i>
                            <span style="color:blue;">{{i.user.email}}</span>
                        </div>
                    </div>
                </div><br><hr class="rounded"><hr style="height:2px;border-width:0;color:gray;background-color:gray"><br>


                <hr>
                <h2 style="color:orange;"><strong>Contact Information</strong></h2>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <br>
                 <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-location-arrow" style="font-size:20px" > &nbsp;&nbsp;&nbsp;City  &nbsp; &nbsp;:</i>
                            <span  style="color:blue; " > &nbsp; &nbsp;{{i.city}}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fa fa-compass" style="font-size:20px">&nbsp;&nbsp; &nbsp; State  &nbsp; &nbsp;:</i>
                            <span style="color:blue;">&nbsp; {{i.state}}</span>
                        </div>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-mobile mr-2" style="font-size:20px" > &nbsp; &nbsp;Mobile No &nbsp;:</i>
                            <span style="color:blue;">8392832983</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-envelope mr-2" style="font-size:20px">&nbsp; &nbsp;E-mail ID &nbsp;:</i>
                            <span style="color:blue;">{{i.user.email}}</span>
                        </div>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-address-card mr-2"  style="font-size:20px"> &nbsp;  Address  &nbsp;&nbsp; :</i>
                            <span style="color:blue;">Address</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-gem" style="font-size:20px">&nbsp;&nbsp; Maritial status &nbsp;:</i>
                            <span style="color:blue;">&nbsp;{{i.maritial_status}}</span>
                        </div>
                    </div>
                </div><br><hr class="rounded"><hr style="height:2px;border-width:0;color:gray;background-color:gray"><br>
                <hr>

                <h2 style="color:green;"><strong>Work Information</strong></h2>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray"><br>
                 <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-building" style="font-size:20px" >&nbsp;&nbsp; Department &nbsp;:</i>
                            <span  style="color:blue; " > &nbsp; &nbsp;{{i.department}}</span>
                        </div>
                    </div>
                     <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-user " style="font-size:20px">&nbsp;Designation:</i>
                            <span style="color:blue;">{{i.designation}}</span>
                        </div>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i style="font-size:20px" class="fa">&#xf156;  &nbsp; &nbsp;Salary(CTC)&nbsp;:</i>
                            <span style="color:blue;">&nbsp;1  lakh</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-thumbtack mr-2" style="font-size:20px">&nbsp; &nbsp;Posting &nbsp;:</i>
                            <span style="color:blue;">{{i.designation}}</span>
                        </div>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-calendar-check mr-2"  style="font-size:20px"> &nbsp;  Attendance  &nbsp;&nbsp; :</i>
                            <span style="color:blue;">0%</span>
                        </div>
                    </div>
                </div><hr class="rounded"><hr style="height:2px;border-width:0;color:gray;background-color:gray">

            </div>

        </div>

    </div>


                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                    <div class="alert alert-info alert-dismissible" role="alert">
    			   <button type="button" class="close" data-dismiss="alert">×</button>
				    <div class="alert-icon">
					 <i class="icon-info"></i>
				    </div>
				    <div class="alert-message">
				      <span><strong>Info!</strong> Lorem Ipsum is simply dummy text.</span>
				    </div>
                  </div>
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
      </div>
      </div>

    </div>
</div>
{% endfor %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}