{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% block title %} Post {% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Employee/Show Post comments</li>
	</ol>
</nav>
<br><br>
<center>

<div class="profile col-lg-7 col-md-9 col-11">
<div class="card text-center">
	<div class="card text-white bg-info mb-3">
  <div class="card-header">
			<h2>Comments</h2>
  </div>
	</div>
		{% for comment in show_comment %}
   <div class="card-body"><br>
		 <h3><b>Post: </b><b style="color:blue;">{{comment.post.content}}</b><br>
		<br>	<b>Latest Comment:</b> <b style="color:blue;">{{comment.comment}}</b><br>
		<br>	 <I> <b>sender by:</b> <b style="color:blue;">{{comment.sender.first_name}}{{comment.sender.last_name}}</b></I></h3>
			 <br> <br><br><h2><a href="{% url 'employee:employee_post_comment' comment.post.id %}" >Comment</a></h2><br>
	 </div>
<!--   <div class="card-footer text-muted">-->
<!--			<I>Applied on <b>{{comment.sender.username}}</b></I>-->
<!--   </div>-->
  {% endfor %}
</div>

</div>

{% endblock content %}