{% extends 'base/base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		{% if user.is_authenticated %}
			<li class="breadcrumb-item"><a href="{% url 'logout' %}">Log Out</a></li>
			<li class="breadcrumb-item"><a href="{% url 'moderator:index' %}">Go to Dashboard</a></li>
  {% else %}
			<li class="breadcrumb-item">  <a href="{% url 'login' %}">Log In</a></li>
			<li class="breadcrumb-item"><a href="{% url 'hr:viewopenings' %}" >Current opening</a></li>
  
  {% endif %}

	</ol>
</nav>

{% endblock %}