{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
{% block content %}
<div class="profile col-lg-7 col-md-9 col-11">
      <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;color: #995c00">Create Profile</h4>
      <form class="needs-validation w-100 col-12" novalidate method="post" enctype="multipart/form-data">

         {% csrf_token %}

         {{form|crispy}}
         
         <button class="btn btn-primary" type="submit">Submit form</button>

   <!-- </div> -->

   </form>
</div>
{% endblock content %}