{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% block title %} leave {% endblock title %}
{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Leave Application</li>
        	<li class="breadcrumb-item active" aria-current="page">View Application</li>
	</ol>
</nav>


 {% for i in emp_data %}
<form action="{% url 'manager:leave_application_status' i.id %}" method="post">
	 {% csrf_token %}
<center>
<div class="profile col-lg-7 col-md-9 col-11">
<div class="card text-center">
	<div class="card text-white bg-info mb-3">
  <div class="card-header">
	  Leave Detail
  </div>
	</div>
  <div class="card-body">
    <h5 class="card-title">Name -  {{i.employee_name}}</h5>
    <p class="card-text">Reason : {{i.leave_reason}}</p>
	  <p class="card-text">{{i.leave_from_date}} To  {{i.leave_to_date}} </p>
      <p class="card-text">Total Leave day:{{i.total_leave_day}}</p>

 <p> <select  class="btn btn-primary btn-border"  name="leavestatus" value="">

                    <option value="accepted">accepted</option>
                    <option value="rejected">rejected</option>
   </select></p>
	 <p>  <input type='submit' class="btn btn-primary btn-border btn-round" value='Submit'></p>
</form>
  </div>
  <div class="card-footer text-muted">
   Applied on {{i.created_at}}
  </div>
</div>
</div>
</center>
 {% endfor %}

<br>
<br>


{% unread_notifications request.user.id as result %}{% if result > 0 and result < 2 %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
	You have {% unread_notifications request.user.id %} unread notification.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	</div>

	{% else %}
	{% if result > 1 %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		You have {% unread_notifications request.user.id %} unread notifications.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{% endif %}
	{% endif %}

	{% unread_msg request.user.id as unreadmsg %}{% if unreadmsg > 0 and unreadmsg < 2 %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		You have {% unread_msg request.user.id %} unread message.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{% else %}
	{% if unreadmsg > 1 %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		You have {% unread_msg request.user.id %} unread messages.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{% endif %}
	{% endif %}


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}




