{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Notification</li>
	</ol>
</nav>

{% for i in noti %}
 

<div class="card mx-auto col-10 col-md-4 " style="text-align:center;">
{% if i.id in storedmsg %}<span class="badge badge-danger">Unseen</span>{% endif %}
	<a href="{% url 'moderator:notification_detail' i.id %}">
  <ul class="list-group list-group-flush">
		<li class="list-group-item justify-content-center">From: {{ i.sender }}</li>
    
    
		<li class="list-group-item justify-content-center">  <h5 class="card-title">{{ i.title }}</h5>  </li>
		
	</ul>
  </a>
</div>

{% endfor %}
    
    

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}