{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Moderator</li>
		<li class="breadcrumb-item">Write</li>
		<li class="breadcrumb-item active" aria-current="page">Notification</li>
	</ol>
</nav>
    
<form class="needs-validation" novalidate method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form1|crispy }}

    <button type="submit" class="btn btn-success">Submit</button>

</form>
    

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}