{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Department</li>
		<li class="breadcrumb-item active" aria-current="page">HR</li>
	</ol>
</nav>
    <div class="container-fluid">
<h2> All posts of HR department will be shown here</h2>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}