{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Task</li>
		<li class="breadcrumb-item active" aria-current="page">Active Task</li>
	</ol>
</nav>

<center>
<table class="table">
 <thead>
    <tr>


       <th scope="col">Task Name</th>
	<th scope="col">Task Status</th>
    </tr>
  </thead>
  <tbody>
	{% for e in task_data %}

    <tr>


		<td><a  href="{% url 'manager:task_detail_view' e.id %}">{{e.task_name}}</a></td>

		<td>{{e.task_status}}</td>
    </tr>

    {% endfor %}

  </tbody>
</table>

	{% unread_msg request.user.id as unreadmsg %}{% if unreadmsg > 0 and unreadmsg < 2 %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		You have {% unread_msg request.user.id %} unread message.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{% else %}
	{% if unreadmsg > 1 %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		You have {% unread_msg request.user.id %} unread messages.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{% endif %}
	{% endif %}


	{% endblock content %}

	<!-- Specific JS goes HERE -->
	{% block javascripts %}{% endblock javascripts %}