{% extends "layouts/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>

   #sender{
	   background-color: #659cff;
       color: #ffffff;
   }

</style>

{% endblock stylesheets %}

{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Inbox</li>
		<li class="breadcrumb-item">Message</li>
	</ol>
</nav>


  <div class="card mx-auto col-12 col-md-9" style="text-align:center;">
	<ul class="list-group list-group-flush">
		<li class="list-group-item justify-content-center" id='sender'> From : {{ msg.sender }}</li>
		<!-- <li class="list-group-item justify-content-center"><h5 class="card-title"  style="color: #191919;font-family: sans-serif;">{{ msg.sender }}</h5></li> -->
		<li class="list-group-item justify-content-center" style="color: #191919;font-family: -webkit-pictograph;">{{ msg.message }}</li>
		<li class="list-group-item justify-content-center text-muted">Received at : {{ msg.created_at|date:"h a, j M, Y" }}</li>
		
	</ul>
</div>
  
    

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}